//Colors


$primary : #7C5EAD;
$primaryLight : #ebe3ff;
$greyPale : #d4d4d4;
$white : #fff;


$navbarHeight: 60px;
$subnavHeight: 50px;

$fontcolor : #5B5B5B;

$fontText : 'Poppins', sans-serif;

$boxShadow : 0px 0px 9px $greyPale;
