.content-l {
    width: 100%;
    padding: 0 0 0 50px;

    @media(max-width: 767px){
        padding: 0px;
    }

    .content-card {
        background-color: $white;
        box-shadow: $boxShadow;
        border-radius: 8px;
    }

    
}