.content-l {
    width: calc(100% - 110px);
    margin-left: 110px;
    background-color: $greyPale;

    @media(max-width: 1050px){
        margin-left: 20px;
    }

    @media(max-width: 767px){
        width: 100%;
        margin-left: 0;
    }
}