.subnav-l{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    height: $subnavHeight;
    align-items: center;

    background-color: $white;
    border-top: 1px solid $greyPale;
    // box-shadow: 0px 2px 5px #a7a7a7;

    .subnav-wrapper{
        @extend .site-max-width;
        
    }

    .subnav-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .subnav-link {
        margin: 0 30px;
        padding: 10px 12px;

        &:hover{
            background-color: $greyPale;
            border-radius: 100%;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
}