.subnav-l{
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

    display: flex;
    height: 60px;
    align-items: center;

    background-color: $white;
    border-top: 1px solid #d4d4d4;
    // box-shadow: 0px 2px 5px #a7a7a7;

    .subnav-wrapper{
        @extend .site-max-width;
        
    }

    .subnav-links{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .subnav-link {

        img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }
}